@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Mystery+Quest&family=Nanum+Myeongjo&family=Tillana&display=swap');

/*
font-family: 'Nanum Myeongjo', serif;
font-family: 'Tillana', cursive;
font-family: 'Akronim', cursive;
font-family: 'Mystery Quest', cursive; 
*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 120%;
	/* font: inherit; */
	vertical-align: baseline;
    text-decoration: none;
}


:root{
    --bg-color: #ea9ab2;
    --second-bg-color: #e27396;
    --text-color: #eaf2d7;
    --main-color: #fffffa;
    --hover-color: #e4c1f9;
}
body{
    background:var(--bg-color);
    color: var(--text-color);
}
/* body a{
    color: var(--text-color);
} */

/*
 ---- HEADER ----
*/
header{
padding: 50px ;
display: flex;
justify-content: space-between;
text-align: center;
flex-wrap: wrap;
}

.logo{
font-family: 'Akronim', cursive;
font-size: 60px;
color: var(--main-color);
font-weight: 600;
}

.navbar{
display: flex;
gap: 2rem;
flex-wrap: wrap;
}
.navbar a{
    font-size: 1rem;
    color: var(--text-color);
}

.navbar a:hover,
.navbar a:active{
    color: var(--hover-color);
    text-decoration: underline;
}